.text-dark {
  color: #333;
}

.text-primary {
  color: #FB8111;
}

.text-github {
  color: #6CC644;
}

.text-muted {
  color: #828282;
}

.text-base {
  color: #D8D8D8;
}

.text-light {
  color: #FAFAFA;
}

.bg-dark {
  background-color: #333;
}

.bg-primary {
  background-color: #FB8111;
}

.bg-github {
  background-color: #6CC644;
}

.bg-muted {
  background-color: #828282;
}

.bg-base {
  background-color: #D8D8D8;
}

.bg-light {
  background-color: #FAFAFA;
}

h1 {
  font-size: clamp(1.777rem, 1.333rem + 1.6vw, 4.209rem);
}

h2 {
  font-size: clamp(1.333rem, 1rem + 1.6vw, 3.157rem);
}

h3 {
  font-size: clamp(1rem, 0.75rem + 1.6vw, 2.369rem);
}

h4 {
  font-size: clamp(0.75rem, 0.563rem + 1.6vw, 1.777rem);
}

h5 {
  font-size: clamp(0.563rem, 0.563rem + 1vw, 1.333rem);
}