.btn {
  display: inline-block;
  padding: 0.375rem 1.125rem;
  border-radius: 20px;
}

.btn-primary {
  color: #FAFAFA;
  background-color: #FB8111;
}
.btn-primary:hover {
  background-color: #d56804;
}

.btn-outline-primary {
  background-color: #FAFAFA;
  color: #FB8111;
  border: #FB8111 solid 1px;
}
.btn-outline-primary:hover {
  background-color: #FB8111;
  color: #FAFAFA;
}