#skills {
    padding: $base-padding;
    .dummy {
        display: none;
        position: relative;
    }
}

@media (min-width:992px) {
    #skills {
        .dummy {
            display: block;
            height: 400px;
        }
    }
}
