.btn-frame {
    display: inline-block;
    padding: math.div($base-padding,4) $base-padding * 1.5;
    border-radius: $base-border-radius;
    border: none;
    text-decoration: none;
    color: $base-color-light;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        color: $base-color-light;
        background-color: $val;
        &:hover {
            background-color: darken($val,10);
            color: $base-color-light;
        }
    }
    .btn-outline-#{$key} {
        background-color: $base-color-light;
        color: $val;
        border: $val solid $base-border-thickness;
        &:hover {
            background-color: $val;
            color:$base-color-light;
        }
    }
}

@media (min-width: 992px) {
    .btn-frame {
        padding: math.div($base-padding,2) $base-padding * 1.5;
    }
}