#skills {
    padding: $base-padding;
    .dummy {
        display: none;
        position: relative;
    }
    #technical-skill {
        width: min(95%,500px);
        margin: $base-margin auto;
        // border: 1px solid ;
    }
}

@media (min-width:992px) {
    #skills {
        .dummy {
            display: block;
            height: 400px;
        }
        #technical-skill {
            margin-left: $base-margin*4;
        }
    }
}
