main, section {
    padding: $base-padding;
    // color: $base-color-dark;
    box-sizing: border-box;
    margin-top: $base-margin * 2;

}
@media (min-width:768px) {
    main, section {
        padding: $base-padding *1.25;
    }
}
@media (min-width:992px) {
    main, section {
        padding: $base-padding *1.5;
    }
}
@media (min-width:1200px) {
    main, section {
        padding: $base-padding *1.75;
    }
}
@media (min-width:1400px) {
    main, section {
        padding: $base-padding * 2;
    }
}